.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 54px auto auto;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-auto-rows: 1fr;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.card {
  position: relative;
  text-align: center;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  box-sizing: border-box;
}

.grid::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.grid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.cardImageWrap {
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10% 5%;
}

.cardName {
  font-weight: 800;
  margin-bottom: .4rem;
}

.logo {
  font-weight: 800;
}

.cardLinks a {
  margin: .2rem;
}
